name: Build and test SPIR-V backend

on:
  workflow_dispatch:

permissions: read-all

jobs:
  integration-tests:
    name: Integration tests matrix
    uses: ./.github/workflows/build-test-reusable.yml
    with:
      python_version: "3.10"
      skip_list: default
      build_llvm: true
      use_spirv_backend: true
