name: Build and test
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      runner_label:
        description: Runner label, keep empty for default
        type: string
        default: ""
      pytorch_ref:
        description: PyTorch ref, keep empty for default
        type: string
        default: ""
      pytorch_mode:
        description: PyTorch mode, source or wheels
        type: choice
        options:
          - source
          - wheels
        default: source
      upload_test_reports:
        description: Upload test reports
        type: boolean
        default: false
      ignore_errors:
        description: Ignore test errors
        type: boolean
        default: false
      skip_list:
        description: Skip list
        type: string
        default: ""
      run_name:
        description: Custom run name
        type: string
        default: "Build and test"
      enable_unskip:
        description: Ignore pytest.skip
        type: boolean
        default: false
      use_pyenv_python:
        description: Use Python built with pyenv
        type: boolean
        default: false

  pull_request:
    branches:
      - main
      - release/**
  push:
    branches:
      - main
      - release/**

# Cancels in-progress PR runs when the PR is updated. Manual runs are never cancelled.
concurrency:
  group: ${{ github.workflow }}-${{ (github.event_name == 'workflow_dispatch' || github.event_name == 'push') && github.run_id || github.event_name == 'pull_request' && (contains(github.event.pull_request.labels.*.name, 'keep-going') && github.run_id || github.event.pull_request.number) || github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: Linux
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load pip cache
        id: pip-cache
        uses: ./.github/actions/load
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 2
        with:
          path: $HOME/.cache/pip
          key: pip-3.10-${{ hashFiles('.pre-commit-config.yaml') }}-${{ env.CACHE_NUMBER }}

      - name: Install Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run pre-commit checks
        run: |
          pip install --upgrade pre-commit
          python3 -m pre_commit run --show-diff-on-failure --color=always --all-files --verbose

      - name: Run unit tests for scripts
        run: |
          pip install pytest pytest-xdist defusedxml
          cd scripts
          pytest -v -n 4 test_*.py

      - name: Save pip cache
        if: ${{ steps.pip-cache.outputs.status == 'miss' }}
        uses: ./.github/actions/save
        with:
          path: ${{ steps.pip-cache.outputs.path }}
          dest: ${{ steps.pip-cache.outputs.dest }}

  integration-tests:
    name: Integration tests matrix

    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.10"
        driver: ${{ fromJson((inputs.runner_label || '') == '' && '["rolling", "lts"]' || '["rolling"]') }}

    uses: ./.github/workflows/build-test-reusable.yml
    with:
      driver_version: ${{ matrix.driver }}
      runner_label: 'dle-2025.2.1'
      pytorch_ref: ${{ inputs.pytorch_ref }}
      pytorch_mode: ${{ inputs.pytorch_mode || 'source' }}
      python_version: ${{ matrix.python }}
      upload_test_reports: ${{ inputs.upload_test_reports || false }}
      ignore_errors: ${{ inputs.ignore_errors || false }}
      skip_list: ${{ inputs.skip_list }}
      run_name: ${{ inputs.run_name }}
      enable_unskip: ${{ inputs.enable_unskip || false }}
      use_pyenv_python: ${{ inputs.use_pyenv_python || false }}
