name: Build and test v4 (JGS CORAL + sharding)
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      device:
        description: Device
        type: string
        default: jgs
      runner_label:
        description: Runner label, keep empty for default
        type: string
        default: ""
#      pytorch_ref:
#        description: PyTorch ref, keep empty for default
#        type: string
#        default: ""
      pytorch_mode:
        description: PyTorch mode, source or wheels JGS pytorch artifactory revision
        type: choice
        options:
          - jgs_artifactory_revision
          - jgs_artifactory_latest
          - source
          - wheels
        default: jgs_artifactory_revision
      pytorch_jgs_artifactory_revision:
        description: PyTorch JGS artifactory revision, used only if pytorch_mode is 'jgs_artifactory_revision'
        type: string
        default: "2025-10-15-1934"
      oneapi_mode:
        description: oneAPI mode, DLE or DPCPP_JGS
        type: choice
        options:
          - DPCPP_JGS_revision
          - DPCPP_JGS_latest
          - DLE
        default: DPCPP_JGS_revision
      dpcpp_jgs_revision:
        description: DPCPP_JGS revision, used only if oneapi_mode is 'DPCPP_JGS_revision'
        type: string
        default: "2025-10-10-0647"
      ignore_errors:
        description: Ignore test errors
        type: boolean
        default: false
      skip_list:
        description: Skip list
        type: string
        default: "xe4"
      run_name:
        description: Custom run name
        type: string
        default: "Build and test"
      enable_unskip:
        description: Ignore pytest.skip
        type: boolean
        default: false
#      use_pyenv_python:
#        description: Use Python built with pyenv
#        type: boolean
#        default: false

  schedule:
    # 8pm central time is 2am UTC
    - cron: '0 2 * * *'

permissions:
  contents: read
  # Needed to get the called workflow reference
  id-token: write

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: Linux
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load pip cache
        id: pip-cache
        uses: ./.github/actions/load
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 2
        with:
          path: $HOME/.cache/pip
          key: pip-3.10-${{ hashFiles('.pre-commit-config.yaml') }}-${{ env.CACHE_NUMBER }}

      - name: Install Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run pre-commit checks
        run: |
          pip install --upgrade pre-commit
          python3 -m pre_commit run --show-diff-on-failure --color=always --all-files --verbose

      - name: Run unit tests for scripts
        run: |
          pip install pytest pytest-xdist defusedxml
          cd scripts
          pytest -n 4 test_*.py

      - name: Save pip cache
        if: ${{ steps.pip-cache.outputs.status == 'miss' }}
        uses: ./.github/actions/save
        with:
          path: ${{ steps.pip-cache.outputs.path }}
          dest: ${{ steps.pip-cache.outputs.dest }}

  prepare:
    name: Prepare
    runs-on: Linux

    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      TESTING_ON_JGS: ${{ steps.matrix.outputs.TESTING_ON_JGS }}

    steps:
      - name: Inputs
        run: |
          cat <<EOF
          ${{ toJSON(inputs) }}
          EOF

      - name: Matrix
        id: matrix
        run: |
          echo inputs.device = ${{ inputs.device }}
          echo github.event_name = ${{ github.event_name }}
          echo github.base_ref = ${{ github.base_ref }}
          echo github.ref = ${{ github.ref }}
          if [[ "${{ github.event_name }}" == 'workflow_dispatch' && "${{ inputs.device }}" == "jgs" ]]; then
            TESTING_ON_JGS="true"
          elif [[ "${{ github.event_name }}" == 'pull_request' && "${{ github.base_ref }}" == 'main-js' ]]; then
            TESTING_ON_JGS="true"
          elif [[ "${{ github.event_name }}" == 'push' && "${{ github.ref }}" == 'refs/heads/main-js' ]]; then
            TESTING_ON_JGS="true"
          else
            TESTING_ON_JGS="false"
          fi
          echo "TESTING_ON_JGS=$TESTING_ON_JGS" | tee -a $GITHUB_OUTPUT

          if [[ -n "${{ inputs.runner_label }}" || "${TESTING_ON_JGS}" == "true" ]]; then
            matrix='{"python": ["3.12"], "driver": ["rolling"]}'
          else
            matrix='{"python": ["3.9"], "driver": ["rolling", "lts"]}'
          fi
          echo "matrix=$matrix" | tee -a $GITHUB_OUTPUT

  integration-tests:
    name: Integration tests matrix
    needs: prepare

    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}

    uses: ./.github/workflows/build-test-reusable-on-JGS-simulator.yml
    secrets: inherit
    with:
      device: ${{ inputs.device || 'jgs' }}
      driver_version: ${{ matrix.driver }}
      runner_label: ${{ inputs.runner_label }}
      pytorch_ref: ${{ inputs.pytorch_ref || '' }}
      pytorch_mode: ${{ inputs.pytorch_mode || 'jgs_artifactory_revision' }}
      pytorch_jgs_artifactory_revision: ${{ inputs.pytorch_jgs_artifactory_revision || '2025-10-15-1934' }}
      oneapi_mode: ${{ inputs.oneapi_mode || 'DPCPP_JGS_revision' }}
      dpcpp_jgs_revision: ${{ inputs.dpcpp_jgs_revision || '2025-10-10-0647' }}
      python_version: ${{ matrix.python }}
      upload_test_reports: true
      ignore_errors: ${{ inputs.ignore_errors || false }}
      skip_list: ${{ inputs.skip_list || 'xe4' }}
      run_name: ${{ inputs.run_name }}
      enable_unskip: ${{ inputs.enable_unskip || false }}
      use_pyenv_python: ${{ inputs.use_pyenv_python || false }}
      enable_e2e_tests: ${{ needs.prepare.outputs.TESTING_ON_JGS != 'true' }}
