name: Build and test v3 (with simulator support and sharding)
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      device:
        description: Device
        type: string
        default: cri
      runner_label:
        description: Runner label, keep empty for default
        type: string
        default: ""
      pytorch_ref:
        description: PyTorch ref, keep empty for default
        type: string
        default: ""
      pytorch_mode:
        description: PyTorch mode, source or wheels
        type: choice
        options:
          - source
          - wheels
        default: source
      ignore_errors:
        description: Ignore test errors
        type: boolean
        default: false
      skip_list:
        description: Skip list
        type: string
        default: "cri"
      skip_list_extra:
        description: Extra skip list suffixes
        type: string
        default: "slow,emu"
      run_name:
        description: Custom run name
        type: string
        default: "Build and test"
      enable_unskip:
        description: Ignore pytest.skip
        type: boolean
        default: false
      use_pyenv_python:
        description: Use Python built with pyenv
        type: boolean
        default: false

  pull_request:
    branches:
      - main-cri
      - release/**
  push:
    branches:
      - main-cri
      - release/**

permissions:
  contents: read
  # Needed to get the called workflow reference
  id-token: write

jobs:
  pre-commit:
    name: Pre-commit checks
    runs-on: Linux
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load pip cache
        id: pip-cache
        uses: ./.github/actions/load
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 2
        with:
          path: $HOME/.cache/pip
          key: pip-3.10-${{ hashFiles('.pre-commit-config.yaml') }}-${{ env.CACHE_NUMBER }}

      - name: Install Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run pre-commit checks
        run: |
          pip install --upgrade pre-commit
          python3 -m pre_commit run --show-diff-on-failure --color=always --all-files --verbose

      - name: Run unit tests for scripts
        run: |
          pip install pytest pytest-xdist defusedxml
          cd scripts
          pytest -n 4 test_*.py

      - name: Save pip cache
        if: ${{ steps.pip-cache.outputs.status == 'miss' }}
        uses: ./.github/actions/save
        with:
          path: ${{ steps.pip-cache.outputs.path }}
          dest: ${{ steps.pip-cache.outputs.dest }}

  prepare:
    name: Prepare
    runs-on: Linux

    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      TESTING_ON_CRI: ${{ steps.matrix.outputs.TESTING_ON_CRI }}

    steps:
      - name: Inputs
        run: |
          cat <<EOF
          ${{ toJSON(inputs) }}
          EOF

      - name: Matrix
        id: matrix
        run: |
          echo github.event_name = ${{ github.event_name }}
          echo github.base_ref = ${{ github.base_ref }}
          echo github.ref = ${{ github.ref }}
          if [[ "${{ github.event_name }}" == 'workflow_dispatch' && "${{ inputs.device }}" == "cri" ]]; then
            TESTING_ON_CRI="true"
          elif [[ "${{ github.event_name }}" == 'pull_request' && "${{ github.base_ref }}" == 'main-cri' ]]; then
            TESTING_ON_CRI="true"
          elif [[ "${{ github.event_name }}" == 'push' && "${{ github.ref }}" == 'refs/heads/main-cri' ]]; then
            TESTING_ON_CRI="true"
          else
            TESTING_ON_CRI="false"
          fi
          echo "TESTING_ON_CRI=$TESTING_ON_CRI" | tee -a $GITHUB_OUTPUT

          if [[ -n "${{ inputs.runner_label }}" || "${TESTING_ON_CRI}" == "true" ]]; then
            matrix='{"python": ["3.12"], "driver": ["rolling"]}'
          else
            matrix='{"python": ["3.12"], "driver": ["rolling", "lts"]}'
          fi
          echo "matrix=$matrix" | tee -a $GITHUB_OUTPUT

  integration-tests:
    name: Integration tests matrix
    needs: prepare

    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}

    uses: ./.github/workflows/build-test-reusable-on-CRI-simulator.yml
    secrets: inherit
    with:
      device: ${{ inputs.device || 'cri' }}
      driver_version: ${{ matrix.driver }}
      runner_label: ${{ inputs.runner_label }}
      pytorch_ref: ${{ inputs.pytorch_ref }}
      pytorch_mode: ${{ inputs.pytorch_mode || 'source' }}
      python_version: ${{ matrix.python }}
      upload_test_reports: true
      ignore_errors: ${{ inputs.ignore_errors || false }}
      skip_list: ${{ inputs.skip_list || 'cri' }}
      skip_list_extra: ${{ inputs.skip_list_extra || 'slow,emu' }}
      run_name: ${{ inputs.run_name }}
      enable_unskip: ${{ inputs.enable_unskip || false }}
      use_pyenv_python: ${{ inputs.use_pyenv_python || false }}
