name: Build and test GPU
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      runner_label:
        description: Runner label or GPU
        type: string
        required: true
      pytorch_ref:
        description: PyTorch ref, keep empty for default
        type: string
        default: ""
      pytorch_mode:
        description: PyTorch mode, source or wheels
        type: choice
        options:
          - source
          - wheels
        default: source
      upload_test_reports:
        description: Upload test reports
        type: boolean
        default: false
      ignore_errors:
        description: Ignore test errors
        type: boolean
        default: false
      skip_list:
        description: Skip list
        type: string
        required: true
      run_name:
        description: Custom run name
        type: string
        default: ""
      enable_unskip:
        description: Ignore pytest.skip
        type: boolean
        default: false
      use_pyenv_python:
        description: Use Python built with pyenv
        type: boolean
        default: true

permissions: read-all

jobs:
  integration-tests:
    name: Integration tests matrix
    strategy:
      matrix:
        python: ["3.10"]
    uses: ./.github/workflows/build-test-reusable.yml
    with:
      device: ${{ inputs.runner_label }}
      runner_label: ${{ inputs.runner_label }}
      pytorch_ref: ${{ inputs.pytorch_ref }}
      pytorch_mode: ${{ inputs.pytorch_mode || 'source' }}
      python_version: ${{ matrix.python }}
      upload_test_reports: ${{ inputs.upload_test_reports }}
      ignore_errors: ${{ inputs.ignore_errors }}
      skip_list: ${{ inputs.skip_list }}
      run_name: ${{ inputs.run_name || format('Build and test {0}', inputs.runner_label) }}
      enable_unskip: ${{ inputs.enable_unskip }}
      use_pyenv_python: ${{ inputs.use_pyenv_python || true }}
