name: Build self-hosted runner image

on:
  workflow_dispatch:

permissions: read-all

env:
  REGISTRY: docker-registry.docker-registry.svc.cluster.local:5000
  TAG: triton-runner-base:0.0.12

jobs:
  build:
    runs-on:
      - glados
      - docker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build image
        run: |
          docker build .github/dockerfiles/runner-base/ --tag $REGISTRY/$TAG

      - name: Push image
        run: |
          docker push $REGISTRY/$TAG
