name: PyTorch inductor tests on Linux
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      pytorch_ref:
        description: PyTorch ref, keep empty for default
        type: string
        default: ""
      suite:
        description: Space separated lists of test suites or "all"
        type: string
        default: >-
          inductor/test_kernel_benchmark.py
          inductor/test_codegen_triton.py
          inductor/test_triton_extension_backend.py
          inductor/test_triton_heuristics.py
          inductor/test_triton_wrapper.py
          inductor/test_triton_kernels.py
          inductor/test_gpu_cpp_wrapper.py
          inductor/test_aot_inductor.py
          inductor/test_select_algorithm.py
          # FIXME: enable them later
          # inductor/test_max_autotune.py
          # inductor/test_compile_subprocess.py
      runner_label:
        description: Runner label, keep empty for default
        type: string
        default: ""
      pytorch_repo:
        description: PyTorch repo
        type: string
        default: "pytorch/pytorch"
      python_version:
        description: Python version
        type: string
        default: "3.9"
      run_name:
        description: Custom run name
        type: string
        default: "PyTorch inductor tests on Linux"

permissions: read-all

jobs:
  run_tests:
    name: Run inductor tests
    uses: ./.github/workflows/inductor-tests-reusable.yml
    with:
      pytorch_repo: ${{ inputs.pytorch_repo }}
      python_version: ${{ inputs.python_version }}
      runner_label: ${{ inputs.runner_label }}
      suite: ${{ inputs.suite }}
      pytorch_ref: ${{ inputs.pytorch_ref }}
