name: Test with pip on Windows
run-name: ${{ inputs.run_name }}

on:
  workflow_dispatch:
    inputs:
      runner_label:
        description: Runner label
        type: string
        default: a770
      skip_list:
        description: Skip list
        type: string
        default: a770
      run_name:
        description: Custom run name
        type: string
        default: Test with pip on Windows

  # run workflow on changes to the driver, which handles the libraries logic
  pull_request:
    branches:
      - main
    paths:
      - third_party/intel/backend/driver.py
  push:
    branches:
      - main
    paths:
      - third_party/intel/backend/driver.py

permissions: read-all

env:
  PYTHONIOENCODING: utf-8
  NEW_WORKSPACE: C:\gh${{ github.run_id }}
  PYTEST_MAX_PROCESSES: 8
  SKIPLIST: --skip-list scripts/skiplist/${{ inputs.skip_list || 'a770' }}
  TRITON_TEST_CMD: bash -x scripts/test-triton.sh --skip-pytorch-install --skip-pip-install --skip-list scripts/skiplist/${{ inputs.skip_list || 'a770' }} --reports-dir reports --ignore-errors

jobs:
  build:
    name: Build and test
    runs-on:
      - windows
      - ${{ inputs.runner_label || 'a770' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Clean up old workspaces
        shell: bash
        run: |
          rm -rf /c/gh*

      # Copy workspace to a temporary location with a shorter name.
      - name: Copy workspace
        run: |
          Copy-Item -Path ${{ github.workspace }} -Destination ${{ env.NEW_WORKSPACE }} -Recurse

      - name: Create venv
        run:
          python -m venv .venv

      - name: Install PyTorch (wheels)
        run: |
          .venv\Scripts\activate.ps1
          pip install torch --index-url https://download.pytorch.org/whl/nightly/xpu

      - name: PyTorch version
        run: |
          .venv\Scripts\activate.ps1
          python -c 'import torch;print(torch.__version__)'

      - name: Clean up Triton cache
        shell: bash
        run: |
          rm -rf ~/.triton/cache

      # We need ninja >= 1.12.0 to support long names on Windows. At the moment there is no required
      # version in pypi, so instead of installing ninja with pip we use a preinstalled 1.12.1 on the
      # runner.
      - name: Setup Triton
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          pip install -U pybind11 'cmake>=3.20,<4.0' intel-sycl-rt==2025.2.1 build
          # `build` can't determine that Ninja is already installed.
          # similar issue: https://github.com/pypa/build/issues/506
          python -m build --wheel --no-isolation --skip-dependency-check
          pip install (Get-Item ${{ env.NEW_WORKSPACE }}\dist\*.whl)

      - name: Triton version
        run: |
          .venv\Scripts\activate.ps1
          python -c 'import triton; print(triton.__version__)'

      - name: Build && Install PTI
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          bash -c './scripts/install-pti.sh --build-level-zero'
          $PTI_LIBS_DIR = python ./scripts/pti_lib.py
          ls $PTI_LIBS_DIR
          echo "PATH=$PTI_LIBS_DIR;$PATH" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Install test dependencies
        run: |
          .venv\Scripts\activate.ps1
          pip install -r scripts\requirements-test.txt
          pip uninstall pytest_forked -y

      - name: Show installed pip packages
        run: |
          .venv\Scripts\activate.ps1
          pip list -v

      - name: Run unit tests
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --unit

      - name: Run core tests
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --core

      - name: Run interpreter tests
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --interpreter

      - name: Run triton kernels tests
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --triton-kernels

      - name: Run tutorials
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          # Disable interactive plot window
          $env:MPLBACKEND = "Agg"
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --tutorial

      - name: Run instrumentation tests
        run: |
          .venv\Scripts\activate.ps1
          Invoke-BatchFile "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" x64
          cd ${{ env.NEW_WORKSPACE }}
          ${{ env.TRITON_TEST_CMD }} --instrumentation

      - name: Pass rate
        run: |
          .venv\Scripts\activate.ps1
          pip install defusedxml
          cd ${{ env.NEW_WORKSPACE }}
          bash -c "\
            source ./scripts/capture-hw-details.sh; \
            python scripts/pass_rate.py --reports reports; \
            python scripts/pass_rate.py --reports reports --json > pass_rate.json; \
            python scripts/pass_rate.py --reports reports --suite tutorials --json > pass_rate_tutorials.json; \
          "

      - name: Upload pass rate report
        # upload reports only for the default branch
        if: github.ref_name == 'main'
        uses: actions/upload-artifact@v5
        with:
          name: pass_rate
          path: ${{ env.NEW_WORKSPACE }}\pass_rate*.json

      - name: Clean up workspace
        if: ${{ always() }}
        run: |
          Remove-Item -LiteralPath ${{ env.NEW_WORKSPACE }} -Force -Recurse -ErrorAction Ignore

      - name: Clean up temporary files
        if: ${{ always() }}
        shell: bash
        run: |
          rm -rf rm -rf /tmp/triton-* /tmp/tmp*
