name: Try latest PyTorch
run-name: ${{ inputs.run_name }}

on:
  schedule:
    - cron: '0 5 * * 1,3'
  workflow_dispatch:
    inputs:
      runner_label:
        description: Runner label, keep empty for default
        type: string
        default: ""
      pytorch_ref:
        description: PyTorch ref
        type: string
        default: "main"
      upload_test_reports:
        description: Upload test reports
        type: boolean
        default: false
      ignore_errors:
        description: Ignore test errors
        type: boolean
        default: false
      skip_list:
        description: Skip list for Tutorials and UT (empty is "default")
        type: string
        default: ""
      run_name:
        description: Custom run name prefix
        type: string
        default: "Build and test Pytorch"
      enable_unskip:
        description: Ignore pytest.skip
        type: boolean
        default: false

permissions: read-all

jobs:
  prepare:
    name: Prepare
    runs-on: Linux

    outputs:
      integration_matrix: ${{ steps.matrix.outputs.integration_matrix }}
      e2e_matrix: ${{ steps.matrix.outputs.e2e_matrix }}
      pytorch-commit-id: ${{ steps.commit-id.outputs.commit_id }}

    steps:
      - name: Inputs
        run: |
          cat <<EOF
          ${{ toJSON(inputs) }}
          EOF

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - id: commit-id
        uses: ./.github/actions/get-commit-id
        with:
          repository: "pytorch/pytorch"
          branch: ${{ inputs.pytorch_ref || 'main' }}

      - name: Matrix
        id: matrix
        run: |
          integration_matrix='{"python": ["3.9", "3.10", "3.11", "3.12"], "driver": ["rolling", "lts"]}'

          echo "integration_matrix=$integration_matrix" | tee -a $GITHUB_OUTPUT
          e2e_matrix='{
            "suite": ["huggingface", "timm_models", "torchbench"],
            "mode": ["inference", "training"],
            "dtype": ["amp_bf16", "amp_fp16", "bfloat16", "float16", "float32"]
          }'
          echo e2e_matrix=$e2e_matrix | tee -a $GITHUB_OUTPUT

  inductor-tests:
    name: Inductor tests
    needs: prepare
    uses: ./.github/workflows/inductor-tests-reusable.yml
    with:
      pytorch_ref: ${{ needs.prepare.outputs.pytorch-commit-id }}
      suite: >-
        inductor/test_kernel_benchmark.py
        inductor/test_codegen_triton.py
        inductor/test_triton_extension_backend.py
        inductor/test_triton_heuristics.py
        inductor/test_triton_wrapper.py
        inductor/test_triton_kernels.py
        inductor/test_gpu_cpp_wrapper.py
        inductor/test_aot_inductor.py
        inductor/test_select_algorithm.py
        inductor/test_max_autotune.py
        inductor/test_compile_subprocess.py
      runner_label: ${{ inputs.runner_label }}
      python_version: "3.9"

  integration-tests:
    name: Integration tests
    needs: [prepare, inductor-tests]

    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.integration_matrix) }}
      fail-fast: false

    uses: ./.github/workflows/build-test-reusable.yml
    with:
      driver_version: ${{ matrix.driver }}
      runner_label: ${{ inputs.runner_label }}
      pytorch_ref: ${{ needs.prepare.outputs.pytorch-commit-id }}
      python_version: ${{ matrix.python }}
      upload_test_reports: ${{ inputs.upload_test_reports || false }}
      ignore_errors: ${{ inputs.ignore_errors || false }}
      skip_list: ${{ inputs.skip_list }}
      run_name: "${{ inputs.run_name }}: ${{ matrix.driver }} ${{ matrix.python }} ${{ needs.prepare.outputs.pytorch-commit-id }}"
      enable_unskip: ${{ inputs.enable_unskip || false }}

  e2e-accuracy:
    name: e2e accuracy tests
    needs: [prepare, inductor-tests]
    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.e2e_matrix) }}
      fail-fast: false
    uses: ./.github/workflows/e2e-reusable.yml
    with:
      pytorch_ref: ${{ needs.prepare.outputs.pytorch-commit-id }}
      suite: ${{ matrix.suite }}
      mode: ${{ matrix.mode }}
      test_mode: accuracy
      dtype: ${{ matrix.dtype }}
      models: subset
      only_one_model: ""
      runner_label: ${{ inputs.runner_label }}
